.intro {
    position: fixed;
    top: 0; 
    display: inline-flex;
    width: 60%;
    height: 70px;
    background-color: var(--back-grey);
    z-index: 2;
    justify-content: space-between;
    padding: 0 0 1rem 0;
    margin: 0 0 2rem 0;
    border-bottom: 1px solid var(--border);
}

.intro__heading {
    text-align: center;
    font-weight: 400;
}

.intro__heading_small {
    display: none;
}

.intro__summary {
    margin-top: 0.3rem;
    font-size: 1.3rem;
    font-weight: 300;
}

.intro__summary b {
    font-weight: 500;
}


#logOutBtn {
  height: 50px;
  cursor: pointer;
  background-color: var(--back-dark);
  color: var(--text-light);
  border: 1px solid var(--text-light);
  border-radius: 5px;
  margin-top: auto;
  padding: 0 35px;
  font-size: 1.5rem;
}

#logOutBtn:hover{
  background-color: var(--back-grey);
}


.app {
    padding-top: 70px;
    /*top: 100px;*/
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-flow: row;
    grid-gap: 2rem;

}

.holder-of-input {
    position: fixed;
    padding-top: 103px;
    width: 60%;
    background-color: var(--back-grey);
    z-index: 1;
}

.js-items {
    width: 100%;
    overflow: hidden;
}

#add-new-item-form {
    position: fixed;
    top: 105px; 
    width: 50%;
}

.app__heading {
    padding-top: 100px;
}

.app__status {
    position: fixed;
    top: 150px;
    width: 15%;
    right: 20%;
}

.app__decor {
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

.app__decor:hover small{
    color: orange;
}

.app__decor small {
    display: block;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--text-light);
}

.app__decor > * {
    display: block;
}

.app__decor > * + * {
    margin-top: 0.4rem;
}

.app__status {
    margin-top: 6rem;
}

.app__items {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0 0;
    font-weight: 300;
}


.app__items li {
    position: relative;
    padding: 0;
    font-size: 1.3rem;  
}

.app__items .done span {
    color: var(--text-semilight);
    text-decoration: line-through;
}

.app__items li + li {
    margin-top: 0.5rem;
}

.app__items button {
    background: transparent;
    border: none;
    position: relative;
    top: -1px;
    color: var(--danger--dark);
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.app__items button:hover {
    color: var(--danger);
}

.app__items .del_mark {
    visibility: hidden;
    font-size: 1.7rem;
}

.app__items li:hover .del_mark {
   visibility: visible;
}

.app__items .check_mark {
    visibility: hidden;
    color: var(--dark-green);
    font-size: 1.4rem;
}

.app__items li:hover .check_mark {
   visibility: visible;
}

.app__items .check_mark:hover {
    color: var(--spring-green);
}

.app__items .change_task {
    display: none;
    width: 80%;
    background-color: var(--back-grey);
    color: var(--text-light);
    font-size: 1.3rem;
    border: none;  
}

.new-item {
    padding: 1rem 0;
}

.new-item__details {
    width: 70%;
    background-color: var(--back-grey);
    color: var(--text-light);
    font-size: 1.3rem;
    padding: 0.5rem;
    border: 1px solid var(--border);
}

.new-item__details:hover {
    border: 1px solid var(--dark-green);
}

.new-item__details::placeholder {
    color: var(--text-semilight);
}

.new-item__button {
    position: relative;
    background-color: var(--dark-green);
    color: var(--text-light);
    font-size: 1.3rem;
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--border);
    border-radius: 5px;
}

.new-item__button:hover {
    cursor: pointer;
    background-color: var(--mild-green);
}

.new-item__label {
    font-size: 1.1rem !important; 
    font-weight: 400 !important;
}

.no-items {
    margin: 1rem 0 0 0;
    color: var(--text-secondary);
}

.visually-hidden { 
    display: block;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
    white-space: nowrap;
    position: absolute;
}



@media (max-width: 800px) {
    .intro__heading {
        display: none;
    }

    .intro__heading_small {
        display: block;
    }
}


@media (max-width: 1200px) {
    main {
        width: 90%;
    }

    .intro {
        width: 90%;
    }

    .holder-of-input {
        width: 90%;
    }

    #add-new-item-form {
        width: 90%;
    }

    #new-item-field {
        width: 70%;
    }

    .app__status {
        width: 25%;
        right: 3%;
    }

    .app {
        grid-template-columns: 7fr 1fr;
    }

    .new-item__details {
        width: 50%;
    }
}