:root {
  --back-grey: #202933;
  --back-dark: #17202A;
  --btn-grey: #202933;
  --btn-grey-hover: #343C45;
  --green: #4BB992;
  --text-light: #C9CBCE;
  --text-semilight: #a8aaad;
  --border: #888888;
  --decor: #777777;
  --text: #141414;
  --text-secondary: #555555;
  --danger: #d62c1a;
  --danger--dark: #a82315;
  --dark-green: #408040;
  --mild-green: #4e994e;
  --spring-green: #30cf30;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: var(--back-grey);
  color: var(--text-light);
  font-size: 18px;
  font-family: Ariel, sans-serif;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
                    Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

main {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  background-color: var(--back-grey);
}

p {
    margin: 0;
}

h1, h2 {
  font-size: 2rem;
  font-weight: 400;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text-light);;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--text-light);;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--text-light);;
}